@model DataObjects.MaterialVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Material</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaterialName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaterialName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MonsterName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MonsterName,
                    new SelectList((IEnumerable<DataObjects.MonsterVM>)ViewBag.monsters,
                    "MonsterID", "MonsterName"),
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MonsterName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <p style="margin:10px 0 0 60px">*For no rate leave as 0</p>
        <p style="margin:0 0 10px 60px"> 100 = 100% | 50 = 50%</p>

        @foreach (var droprate in Model.DropRates)
        {
            <div class="form-group">
                <label class="control-label col-md-2">@droprate.DropTypeName Rate</label>
                <div class="col-md-10">
                    <input type="number" min="0" max="100" value="@droprate.DropRate" class="form-control input-validation-error" data-val="true"
                           data-val-required="Please enter the @droprate.DropTypeName droprate." id="@droprate.DropTypeName" name="@droprate.DropTypeName" value aria-describedby="@droprate.DropTypeName-error" />
                    <span class="text-danger field-validation-error" data-valmsg-for="@droprate.DropTypeName" data-valmsg-replace="true">
                        <span id="@droprate.DropTypeName-error"></span>
                    </span>
                </div>
            </div>
        }



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
