<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Styles.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="nav">
        <div class="container">
            <div class="navbar-header" id="navhead">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Monster.Net", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navli">@Html.ActionLink("Monsters", "Index", "Monster")</li>
                    <li class="navli">@Html.ActionLink("Materials", "Index", "Material")</li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <li class="navli">@Html.ActionLink("Parts", "Index", "Part")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="navli">@Html.ActionLink("User Administration", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="margin-top: 10px">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
